@using Lykke.Ico.Core.Queues.Emails;
@using RazorLight
@inherits TemplatePage<InvestorSummaryMessage>
@{
    Layout = "investor-layout";
}
<!-- main section -->
<!-- title -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:2px; line-height:48px;">
        Summary of Investor Details
    </td>
</tr>
<!-- end title -->
<!-- hr -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table width="25" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="2" style="border-bottom:2px solid #fc625e;"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- end hr -->
<!-- main content -->
<tr>
    <td align="center" style="padding:0px 35px 15px; font-size:16px; color:#7f8c8d; line-height:24px;">
        Thank you for registering for the procivis token sale. Below you find the summary of your procivis token sale account.
    </td>
</tr>
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#7f8c8d; line-height:24px;">
        You can send your Ether and Bitcoin to the deposit addresses from any source, including wallets from any exchange. You can send funds as often as you want.
    </td>
</tr>
<!-- end main content -->
<!-- end main section -->


<!-- BTC address section -->
<!-- subtitle -->
<tr>
    <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
        Your Bitcoin Deposit Address
    </td>
</tr>
<!-- end subtitle -->
<!-- content -->
<tr>
    <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
        Buy your procivis tokens by sending BTC to this address:
    </td>
</tr>
<tr>
    <td align="center" style="padding:0px 35px 0px; font-size:16px; color:#808E8E;line-height:28px;">
        <a href="@Model.LinkBtcAddress/@Model.PayInBtcAddress">@Model.PayInBtcAddress</a>
    </td>
</tr>
<!-- end content -->
<!-- img -->
<tr align="center">
    <td align="center" style="padding:0px 35px 15px;">
        <img style="display:block; border:0px;" width="200" height="200" src="cid:{PayInBtcAddressQRCode.png}" alt="Pay-In: Bitcoin Address" />
    </td>
</tr>
<!-- end img-->
<!-- end BTC address section -->

<!-- ETH address section -->
<!-- subtitle -->
<tr>
    <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
        Your Ethereum Deposit Address
    </td>
</tr>
<!-- end subtitle -->
<!-- content -->
<tr>
    <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
        Buy your procivis tokens by sending ETH to this address:
    </td>
</tr>
<tr>
    <td align="center" style="padding:0px 35px 0px; font-size:16px; color:#808E8E;line-height:28px;">
        <a href="@Model.LinkEthAddress/@Model.PayInEthAddress">@Model.PayInEthAddress</a>
    </td>
</tr>
<!-- end content -->
<!-- img -->
<tr align="center">
    <td align="center" style="padding:0px 35px 15px;">
        <img style="display:block; border:0px;" width="200" height="200" src="cid:{PayInEthAddressQRCode.png}" alt="Pay-In: Ether Address" />
    </td>
</tr>
<!-- end img-->
<!-- end ETH address section -->

<!-- wallet address section -->
<!-- subtitle -->
<tr>
    <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
        Your Token Wallet Address
    </td>
</tr>
<!-- end subtitle -->
<!-- content -->
<tr>
    <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
        This is your wallet address where you will receive your procivis tokens at the time of distribution:
    </td>
</tr>
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
        <a href="@Model.LinkEthAddress/@Model.TokenAddress">@Model.TokenAddress</a>
    </td>
</tr>
<!-- end content -->
<!-- end wallet address section -->

@if (!string.IsNullOrWhiteSpace(Model.RefundBtcAddress))
{
    <!-- refund BTC address section -->
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            Refund: Bitcoin Address
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
            If it becomes necessary to refund your Bitcoin, we will use the address you provided:
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
            <a href="@Model.LinkBtcAddress/@Model.RefundBtcAddress">@Model.RefundBtcAddress</a>
        </td>
    </tr>
    <!-- end content -->
    <!-- end refund BTC address section -->
}

@if (!string.IsNullOrWhiteSpace(Model.RefundEthAddress))
{
    <!-- refund ETH address section -->
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            Refund: Ethereum Address
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
            If it becomes necessary to refund your Ether, we will use the address you provided:
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
            <a href="@Model.LinkEthAddress/@Model.RefundEthAddress">@Model.RefundEthAddress</a>
        </td>
    </tr>
    <!-- end content -->
    <!-- end refund ETH address section -->
}