@using Lykke.Ico.Core.Queues.Emails;
@using RazorLight
@inherits TemplatePage<InvestorSummaryMessage>
@{
    Layout = "investor-layout";
}
<!-- main section -->
<!-- title -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:2px; line-height:48px;">
        Participation Details
    </td>
</tr>
<!-- end title -->
<!-- hr -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table width="25" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="2" style="border-bottom:2px solid #4A93DA;"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- end hr -->
<!-- main content -->
<tr>
    <td align="center" style="padding:0px 35px 15px; font-size:16px; color:#7f8c8d; line-height:24px;">
        Thank you for registering for the SMARC token sale.
        To participate please go to your dashboard where your pay-in addresses are displayed.
        We also accept credit card payments.
    </td>
</tr>
<!-- end main content -->
<!-- button -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table align="center" bgcolor="#4A93DA" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px; box-shadow:0px;">
            <tr>
                <td height="55" width="196" align="center" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding-left:25px; padding-right:25px;">
                    <a href="@Model.LinkToSummaryPage" style="color:#FFFFFF; text-decoration:none;">My Dashboard</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- end button -->
<!-- end main section -->

<!-- wallet address section -->
<!-- subtitle -->
<tr>
    <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
        Your Token Wallet Address
    </td>
</tr>
<!-- end subtitle -->
<!-- content -->
<tr>
    <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
        This is the wallet address where you will receive your SMARC tokens at the time of distribution:
    </td>
</tr>
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
        <a href="@Model.LinkEthAddress/@Model.TokenAddress">@Model.TokenAddress</a>
    </td>
</tr>
<!-- end content -->
<!-- end wallet address section -->

@if (!string.IsNullOrWhiteSpace(Model.RefundEthAddress))
{
    <!-- refund ETH address section -->
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            Ethereum Refund Address
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
            If it becomes necessary to refund your Ether, we will use the following address:
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
            <a href="@Model.LinkEthAddress/@Model.RefundEthAddress">@Model.RefundEthAddress</a>
        </td>
    </tr>
    <!-- end content -->
    <!-- end refund ETH address section -->
}

@if (!string.IsNullOrWhiteSpace(Model.RefundBtcAddress))
{
    <!-- refund BTC address section -->
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            Bitcoin Refund Address
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 5px; font-size:16px; color:#808E8E;line-height:28px;">
            If it becomes necessary to refund your Bitcoin, we will use the following address:
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
            <a href="@Model.LinkBtcAddress/@Model.RefundBtcAddress">@Model.RefundBtcAddress</a>
        </td>
    </tr>
    <!-- end content -->
    <!-- end refund BTC address section -->
}