@using Lykke.Ico.Core.Queues.Emails;
@using RazorLight
@inherits TemplatePage<InvestorNewTransactionMessage>
@{
    Layout = "investor-layout";
}

<!-- title -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:2px; line-height:48px;">
        Payment Confirmation
    </td>
</tr>
<!-- end title -->
<!-- hr -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table width="25" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="2" style="border-bottom:2px solid #c16c83;"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- end hr -->
<!-- content -->
<tr>
    <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#7f8c8d; line-height:24px;">
        We successfully received your payment of @Model.TransactionAmount @Model.TransactionAsset.

        <p style="font-size:14px;">
            @if (Model.TransactionAsset != "USD")
            {
                <text>@Model.TransactionAmountUsd USD.</text>
            }

            @Model.TransactionAmountToken VLD.
            
            @if (Model.TransactionAsset == "USD")
            {
                <text>Fee: @Model.TransactionFee USD.</text>
            }
        </p>
    </td>
</tr>
<!-- end content -->

@if (Model.MoreInvestmentRequired)
{
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            Insufficient Participation Amount
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 15px; font-size:16px; color:#808E8E;line-height:28px;">
            The minimum contribution is @Model.MinAmount USD.
            The amount you paid so far is @Model.InvestedAmountUsd USD.
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px 35px 35px; font-size:16px; color:#808E8E;line-height:28px;">
            Please send more funds in order to participate or we can not allocate any tokens to you.
        </td>
    </tr>
    <!-- end content -->
}

@if (Model.KycRequired)
{
    <!-- subtitle -->
    <tr>
        <td align="center" style="padding:35px 35px 15px; font-size:20px; color:#2F4255;font-weight:bold;">
            KYC Required
        </td>
    </tr>
    <!-- end subtitle -->
    <!-- content -->
    <tr>
        <td align="center" style="padding:0px 35px 15px; font-size:16px; color:#808E8E;line-height:28px;">
            We require every participant to complete a full KYC process.
            Please start the process in your dashboard at your earliest convenience.
        </td>
    </tr>
    <!-- end content -->
}

<!-- button -->
<tr>
    <td align="center" style="padding:0px 35px 35px;">
        <table align="center" bgcolor="#c16c83" border="0" cellspacing="0" cellpadding="0" style="border-radius:4px; box-shadow:0px;">
            <tr>
                <td height="55" width="196" align="center" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding-left:25px; padding-right:25px;">
                    <a href="@Model.LinkToSummaryPage" style="color:#FFFFFF; text-decoration:none;">My Dashboard</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- end button -->